.container {
    text-align: center;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 24px;
}
